<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ebooks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name_long"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.ebooks.BookEditActivity"></activity>
        <activity android:name="com.example.ebooks.OrderItemActivity" />
        <activity android:name="com.example.ebooks.UserItemActivity" />
        <activity android:name="com.example.ebooks.CategoryItemActivity" />
        <activity android:name="com.example.ebooks.BookItemActivity" />
        <activity android:name="com.example.ebooks.CategoryBookActivity" />
        <activity android:name="com.example.ebooks.CartActivity" />
        <activity android:name="com.example.ebooks.LogInActivity" />
        <activity android:name="com.example.ebooks.SignUpActivity" />
        <activity android:name="com.example.ebooks.WelcomeActivity" />
        <activity
            android:name="com.example.ebooks.AdminMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ebooks.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.ebooks.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>